@page "{id:int?}"
@model Cinderella.Pages.Shoes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shoe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.Shoe.Image)" height="500" alt="@Html.DisplayFor(model => model.Shoe.Image)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Price)
        </dd>
    </dl>
</div>
<br />
@if (Model.Reviewable)
{
    <a asp-page="./GiveReview" asp-route-id="@Model.Shoe.ShoeID">Give Review</a>
}
<br />
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Review</th>
        </tr>
        @foreach (var reviews in Model.ReviewDesc)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reviews.ReviewName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reviews.ReviewWords)
                </td>
            </tr>
        }
    </table>
</dd>
<div>
    <a asp-page="../CheckOut" asp-route-id="@Model.Shoe.ShoeID" class="btn btn-primary">Add to Cart</a> |
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
