@page "{searchString?}"
@model Cinderella.Pages.Shoes.IndexModel

@{
    ViewData["Title"] = "Shoes";
}

<div class="container-1">
    <div class="text-left">
        <h1>Shoes</h1>
    </div>
    <div class="text-right">
        <form>
            <p style="font-size:20px;">
                <b>Shoe Name: </b><input type="text" asp-for="SearchString" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </form>
    </div>

</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shoe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/images/@item.Image" height="250" alt="@item.Image"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ShoeID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
